/*===============================
  VARIÁVEIS DE CORES
================================*/
:root {
  --rosa-claro: #fdf0f4;
  --rosa-forte: #811c85da;
  --rosa-escuro: #c2189dd2;
  --cinza: #666;
  --branco: #fff;
  --preto: #111;
}

/*===============================
  RESET E CONFIGURAÇÕES GERAIS
================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--rosa-claro);
  color: var(--preto);
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0rem;
}


